<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Algoritmos Numéricos{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
  <header><h1>Algoritmos Numéricos</h1></header>
  <nav>
    <ul>
      <li>
        <a href="#">Capítulo 1</a>
        <ul>
          <li><a href="{% url 'biseccion' %}">Bisección</a></li>
          <li><a href="{% url 'regla_falsa' %}">Regla Falsa</a></li>
          <li><a href="{% url 'punto_fijo' %}">Punto Fijo</a></li>
          <li><a href="{% url 'newton' %}">Newton</a></li>
          <li><a href="{% url 'secante' %}">Secante</a></li>
          <li><a href="{% url 'raices_multiples' %}">Raíces Múltiples</a></li>
          <li><a href="{% url 'metodo_grafico' %}">Método Gráfico</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Capítulo 2</a>
        <ul>
          <li><a href="{% url 'jacobi' %}">Jacobi</a></li>
          <li><a href="{% url 'gauss_seidel' %}">Gauss–Seidel</a></li>
          <li><a href="{% url 'sor' %}">SOR</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Capítulo 3</a>
        <ul>
          <li><a href="{% url 'vandermonde' %}">Vandermonde</a></li>
          <li><a href="{% url 'newtonint' %}">Newton Interpolante</a></li>
          <li><a href="{% url 'lagrange' %}">Lagrange</a></li>
          <li><a href="{% url 'spline_lineal' %}">Spline Lineal</a></li>
          <li><a href="{% url 'spline_cubico' %}">Spline Cúbico</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <main>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% block content %}{% endblock %}
  </main>
</body>
</html>